body {
    font-family: "Open Sans", helvetica, sans-serif;
    color: #FFF;
    font-size: 16px;
    line-height: 1.42;
    background: #031920;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
}

.ul{
    padding: 0;
    margin: 0;
}

ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: normal;
}

p{
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

.main--page--wrapper{
    background: url(https://raw.githubusercontent.com/Redvoiceful/task_3/main/air-asia/background.jpg) center top no-repeat;
}

.container{
    margin: 0 auto;
    width: 1141px;
}

.header{
    height: 124px;
    position: relative;
    margin-bottom: 46px;
}

.logo{
    display: block;
    position: absolute;
    width: 85px;
    height: 36px;
    top: 29px;
    left: 0px;
}

.menu{
    position: absolute;
    top: 21px;
    left: 125px;
    margin-top: 15.36px;
}

.menu__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 60px;
    width: 41px;
    height: 24px;
}

.menu__link{
    font-size: 14px;
    color: white;
    text-decoration: none;
    line-height: 19.07px;
}

.menu__link:hover{
    color: #da0100;
}

.contacts{
    font-style: normal;
    position: absolute;
    text-align: right;
    top: 26.64px;
    right: 0;   
}

.contacts__phone{
    font-style: normal;
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 2px;
    left: 522px;    
    width: 191px;
    height: 35px;
}

.contacts__dropdown-title{
    font-style: normal;
    font-size: 13px;
    width: 97px;
    height: 20px;
    text-decoration: underline;
    color: white;
}

.welcome__title{
    width: 515px;
    height: 200px;
    font-size: 72px;
    font-weight: bold;
    line-height: 98.05px;
    margin-bottom: 27.5px;
}

.welcome__text{
    font-size: 18px;
    font-style: normal;
    color: white;
    margin-bottom: 34px;
    width: 196px;
    height: 20px;
}

.button{
    position: absolute;
    background: #f5170e;
    border-radius: 35px;
    padding: 18px 40px;
    font-style: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
}

.button--color--red{
    background: #da0100; 
}

.button:hover{
    background: #fff;
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}

.section{
    margin-bottom: 127px;
}

.section__title{
    font-size: 36px;
    line-height: 49.03px;
    font-weight: bold;
    margin-top: 265px;
    margin-bottom: 51px;
}

.offers__item{
    width: 362px;
    height: 449px;
    margin-right: 20px;
    background: #FFF;
    border-radius:5px;
    display: inline-block;
}

.offers__item:last-child{
    margin-right: 0px;
}

.offers__header{
    position: relative;
    height: 144px;
    width: 362px;
    color: #000000;
}

.offers__header-logo{
    width: 362px;
    height: 144px;
    margin-bottom: 33px;
    border-radius: 5px 5px 0px 0px;
}

.offers__title{
    width: 108px;
    height: 33px;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #000000;
}

.offers__content{
    padding: 33px 16px 26px 22px;
}

.offers__features{
    vertical-align: top;
}

.offers__feature-cell{
    display: inline-block;
    font-size: 16px;
    color: #666;
    margin-right: 28px;
    margin-bottom: 25.5px;
}

.offer__feature-img{
    margin-right: 10px;
}

.offers__feature-disc{
    color: #303030;
    font-size: 14px;
    margin-bottom: 24.5px;
}

.offers__button-wrapper{
    text-align: justify;
}

.button_white{
    background: #FFF;
    color: #f5170e;
    border: 1px solid #f5170e;
    border-radius: 35px;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    padding: 18px 40px;
    font-style: bold;
    font-size: 14px;
}

.news__title{
    font-size: 36px;
    margin-bottom: 51px;
}

.news__list{
    margin-bottom: 57.5px;
}
.news__item{
    display: inline-block;
    width: 557px;
    height: 394px;
    margin-right: 10px;
    vertical-align: top;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.news__text-content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 30px;
}

.news__date{
    font-size: 14px;
    margin-bottom: 12.5px;
}

.news__title{
    font-size: 24px;
    margin-bottom: 3.5px;
    font-weight: bold;
}

.news__disc{
    font-size: 16px;
    margin-bottom: 47.5px;
}

.news__cover{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.paginator{
    text-align: center;
}

.paginator__display,.paginator__list{
    display: inline-block;
    vertical-align: middle;
}

.paginator__display{
    margin-right: 25px;
}

.paginator__item{
    display: inline-block;
    vertical-align: middle;
}

.paginator__link{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.paginator__item--active .paginator__link{
    background: #fff;
    color: #f5170e;
}

.company:before{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    background: url(https://raw.githubusercontent.com/Redvoiceful/task_3/main/air-asia/gates.png) center center/ cover no-repeat;
}

.company__disc{
    background: url(https://raw.githubusercontent.com/Redvoiceful/task_3/main/air-asia/mountains.png);
    width: 785px;
    height: 455px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    margin-left: 350px;
    margin-top: -420px;
}

.company__title{
    margin-top: 70px;
    margin-bottom: 37px;
    margin-left: 81px;
    font-size: 36px;
    font-weight: bold;
    color: black;
}

.company__disc-text{
    padding: 37px 202px 61px 81px;
    color: black;
}

.company__disc-text p:last-child{
    margin-bottom: 0;
}

.company__button-wrapper{
    margin-left: 81px;
}

.footer{
    position: relative;
    height: 92.64px;
}

.contacts__disc{
    font-size: 11px;
    color: #9a9a9a;
}

.socials{
    position: absolute;
    margin-top: 53px;
    right:403px;
    bottom:25px;
}

.socials__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials__item:last-child{
    margin-right: 0;
}

.social__link{
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.socials__item--icon--telegram .social__link{
    background-image: url(https://raw.githubusercontent.com/Redvoiceful/task_3/main/air-asia/telegram.png);
}

.socials__item--icon--telegram .social__link:hover{
    background-image: url(https://raw.githubusercontent.com/Redvoiceful/task_3/main/air-asia/t.png);
}

.socials__item--icon--vk .social__link{
    background-image: url(https://raw.githubusercontent.com/Redvoiceful/task_3/main/air-asia/vk.png);
}

.socials__item--icon--vk .social__link:hover{
    background-image: url(https://raw.githubusercontent.com/Redvoiceful/task_3/main/air-asia/vk1.png);
}

.socials__item--icon--facebook .social__link{
    background-image: url(https://raw.githubusercontent.com/Redvoiceful/task_3/main/air-asia/f.png);
}

.socials__item--icon--facebook .social__link:hover{
    background-image: url(https://raw.githubusercontent.com/Redvoiceful/task_3/main/air-asia/f2.png);
}

.socials__item--icon--instagram .social__link{
    background-image: url(https://raw.githubusercontent.com/Redvoiceful/task_3/main/air-asia/in.png);
}

.socials__item--icon--instagram .social__link:hover{
    background-image: url(https://raw.githubusercontent.com/Redvoiceful/task_3/main/air-asia/in1.png);
}
